* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: #def3fd;
}

article {
  border: 5px dotted rgb(223, 69, 161);
  background-color: rgb(255, 209, 220);
  text-align: justify;
  padding: 5px;
  margin: 10px;
  width: 100%;
}

header {
  text-align: center;
  border: 3px dotted pink;
  background-color: #e9aaca;
}

nav {
  border: 5px dotted pink;
  position: fixed;
  
}

#gallery{
  margin-top: 5px;
}

@function shade-color($color, $percentage) {
    @return mix(black, $color, $percentage);
}
:root {
    --bd-pink: #e9aaca;
    --bd-pink-rgb: 255, 105, 180;
}
.btn-pink {
    --bs-btn-font-weight: 600;
    --bs-btn-bg: var(--bd-pink);
    --bs-btn-border-color: var(--bd-pink);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: #{shade-color($bd-pink, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-pink, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-pink-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-pink, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-pink, 20%)};
}